# Node modules
node_modules/

# Logs
# logs/
# *.log

# Environment variables
.env

# Build output
/dist

# npm-debug logs
# npm-debug.log*

# Yarn integrity file
.yarn-integrity

# Next.js build output
.next/

# VS Code settings
.vscode/